@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div id="lipsum">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae diam pretium, bibendum purus eget, scelerisque est. Vestibulum sollicitudin varius felis non rutrum. Aenean bibendum lacinia tincidunt. Nulla egestas accumsan lacus, ut bibendum velit pharetra ac. Etiam orci odio, eleifend sit amet dui non, dapibus mattis nisi. Quisque non sapien arcu. Proin blandit ligula lobortis, tempor nibh in, vulputate erat. Donec convallis felis velit, id vehicula sem ullamcorper eu. Proin quis dictum nunc, vel mollis tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mollis, turpis quis tempor malesuada, nibh tortor pulvinar mauris, vitae porttitor leo massa at ipsum. Donec ligula dolor, viverra et erat id, consequat dictum dui. Mauris pellentesque lacus vitae ipsum accumsan hendrerit. Maecenas nisl dui, congue at sem ut, facilisis faucibus velit. Curabitur pharetra est sit amet nisi laoreet, nec vehicula sem mollis.
        </p>
        <p>
            Vivamus aliquam scelerisque luctus. Morbi pharetra interdum sem a accumsan. Maecenas ultrices elementum urna, semper rutrum urna. Suspendisse posuere luctus quam. Nunc aliquam porta aliquet. Donec tincidunt leo vitae ultrices eleifend. Integer ac orci ut ante bibendum lacinia vel ut quam. Suspendisse lobortis enim eu felis egestas iaculis. Nulla viverra, metus quis viverra placerat, tortor urna faucibus leo, in scelerisque diam orci vitae dolor. Mauris mattis sem eget placerat aliquet. Suspendisse quis justo eget dui volutpat mollis. Etiam id urna arcu. Vivamus tempus, urna in rutrum placerat, nunc lacus mollis ex, ut elementum arcu eros eu erat.
        </p>
    </div>
</div>
